<nav class="navbar container">
    <div class="header-start">
        <a href="/">
            <h2 class="logo">The Code Blog</h2>
        </a>
        <ul class="list">
            <li class="list-item screen-md-show screen-lg-show">
                <a href="/about" class="list-link">About</a>
            </li>
            <li class="list-item screen-md-show screen-lg-show">
                <a href="/contact" class="list-link">Contact</a>
            </li>
        </ul>
    </div>

    <div class="list list-right">
        <button class="btn place-items-center screen-sm-show menu-toggle-icon" id="menu-toggle-icon">
            <i class="ri-menu-3-line open-menu-icon"></i>
            <i class="ri-close-line close-menu-icon"></i>
        </button>
        <a href="/signin" class="list-link screen-md-show screen-lg-show">Sign in</a>
        <a href="/signup" class="btn sign-up-btn fancy-border screen-md-show screen-lg-show">
            <span>Sign up</span>
        </a>
    </div>

    <div class="menu" id="menu">
        <ul class="list">
            <li class="list-item screen-sm-show">
                <a href="/about" class="list-link">About</a>
            </li>
            <li class="list-item screen-sm-show">
                <a href="/contact" class="list-link">Contact</a>
            </li>
            <li class="list-item screen-sm-show">
                <a href="/signin" class="list-link">Sign In</a>
            </li>
            <li class="list-item screen-sm-show">
                <a href="/signup" class="list-link">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>