{{> header}}

<!-- Middle body -->
<main class="middle_body">
    <section class="first">
        <div class="left">
            <h1>{{message}}<br><span
                    id="element_error"></span></h1><br>
            <a href="/"><button id="error-button" class="error-button">Return Home</button></a>
        </div>
        <div class="right">
            <img src="{{baseUrl}}/images/error_page_500.svg" alt="500_error_image">
        </div>
    </section>
</main>