{{> header}}

<div class="responsive-container-block outer-container">
    <div class="responsive-container-block inner-container">
        <div class="responsive-cell-block headings-container">
            <p class="text-blk heading-text">
                Meet our dream team
            </p>
            <p class="text-blk sub-heading-text">
                Our Fantastic Five, a lively ensemble of web wizards balancing innovation and humor. United by
                our love for digital craft, we're transforming the web, one page at a time. Our quirky titles, from CSS
                Magicians to JavaScript Jugglers, mask our serious commitment to web development.<br>
                <br>
                Mastering flexbox intricacies, debating 'git pull' vs 'git fetch', and crafting immersive digital
                experiences defines us. Step into the world of the five's – where code, creativity, and passion
                interweave.
            </p>
        </div>
        <div class="responsive-cell-block team-members-container">
            <div class="responsive-cell-block card-container">
                <div class="card">
                    <img class="card-img"
                        src="./images/avatar1.svg">
                    <p class="text-blk name">
                        Paul Highum &#x1F9D9;
                    </p>
                    <p class="text-blk position">
                        Full Stack Magician
                    </p>
                </div>
            </div>
            <div class="responsive-cell-block card-container">
                <div class="card">
                    <img class="card-img"
                        src="./images/avatar2.svg">
                    <p class="text-blk name">
                        Osama Khan &#x1F977;
                    </p>
                    <p class="text-blk position">
                        Sass Savant
                    </p>
                </div>
            </div>
            <div class="responsive-cell-block card-container">
                <div class="card">
                    <img class="card-img"
                        src="./images/avatar6.svg">
                    <p class="text-blk name">
                        Jiseon Yoo &#x1F469;&#x200D;&#x1F4BB;
                    </p>
                    <p class="text-blk position">
                        HTML5 Hypnotist
                    </p>
                </div>
            </div>
            <div class="responsive-cell-block card-container">
                <div class="card">
                    <img class="card-img"
                        src="./images/avatar3.svg">
                    <p class="text-blk name">
                        Zhaohua Li &#x1F468;&#x200D;&#x1F3ED;
                    </p>
                    <p class="text-blk position">
                        Database Wrangler
                    </p>
                </div>
            </div>
            <div class="responsive-cell-block card-container">
                <div class="card">
                    <img class="card-img"
                        src="./images/avatar5.svg">
                    <p class="text-blk name">
                        Tong Chen &#x1F575;
                    </p>
                    <p class="text-blk position">
                        Bug Exterminator
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>