{{> header}}

<!-- Middle body -->
<main class="middle_body">
    <section class="first">
        <div class="left">
            <h1>Brewing a fresh pot of this feature &#127861;<br>Get your mugs ready!</h1><br>
            <a href="/"><button id="coming-soon-button" class="coming-soon-button">Return
                    Home</button></a>
        </div>
        <div class="right">
            <img src="./images/coming_soon_page.svg" alt="home_image">
        </div>
    </section>
</main>