{{> header}}

<div class="main-content">
    <div class="contact-container">
        <div class="contact-box">
            <h2>Contact Us</h2>
            <form>
                <input id="contactInputName" type="text" name="name" placeholder="Your Name" required>
                <input id="contactInputEmail" type="email" name="email" placeholder="Your Email" required>
                <textarea name="message" placeholder="Your Message"></textarea>
                <button class="standard-button" id="contactUsBtn" type="submit">Send Message</button>
            </form>
        </div>
        <img class="image-section" src="./images/Contact_us_image.svg" alt="Your alt text">
    </div>
</div>
<script src="/js/contact.js"></script>