/* Contact Page */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 5px); /* Adjust this value according to the combined height of your header and footer */
    padding: 20px;
  }
  
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
  }
  
  .contact-box {
    flex: 1;
    padding: 40px;
    background: var(--secondary-background-color);
    box-shadow: 0px 10px 20px var(--transparent-light-color);
    border-radius: 15px;
    box-sizing: border-box;
  }
  
  .contact-box form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-box form input,
  .contact-box form textarea {
    margin-bottom: 10px;
    padding: 10px;
  }

  .contact-box textarea {
    resize: none;
    height: 150px;
  }
  
  .image-section {
    flex: 1;
    max-width: 100%;
    height: auto;
  }
  
  /* media query for screens smaller than 768px */
  @media (max-width: 767px) {
    .contact-container {
        flex-direction: column;
    }
  
    .contact-box,
    .image-section {
        flex: none;
        width: 100%;
    }
  }
  .about-button {
    width: 200px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: var(--color-1);
    color: var(--hover-light-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .about-button:hover {
    background-color: var(--color-5);
    color: var(--hover-light-color);
  }