.left .error-button {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;  /* Center the text horizontally */
    align-items: center;  /* Center the text vertically */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ff7383;
    color: var(--hover-light-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .left .error-button:hover {
    background-color:  #8492e8;
    color: var(--hover-light-color);
  }