/* Footer */
.footer {
    background-color: var(--secondary-background-color);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    max-height: 20vh;
    padding: 10px;
  }
  
  .footer-container {
    gap: var(--gap);
  }
  
  .copyright-notice {
    opacity: 0.8;
    font-size: var(--font-size-xsm);
    display: flex;
    align-items: center;
    justify-content: center;
  }
