.notification-container {
    position: relative;
}

.bell-icon {
    position: relative;
    width: 30px;
    height: 30px;
}

.bell-icon svg {
    width: 100%;
    height: 100%;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--color-1);
    color: white;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


.notification-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 300px;  /* Set this to the maximum height you want */
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* you can adjust this to match your desired shadow effect */
    border-radius: 10px; /* Adjust this value to increase or decrease the border curve */
}

.notification-item {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.notification-item:hover {
    background-color: #f5f5f5;  /* Change this to whatever color you want */
}


.notification-item.unread {
    background-color: #f0f0f0;
}

.notification-author-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.notification-author-username {
    font-weight: bold;
}

.notification-content {
    display: block;
    margin-top: 5px;
}

.notification-timestamp {
    color: gray;
    font-size: 0.8em;
}

.hidden {
    display: none;
}
