#userPageSideNav {
    height: calc(100vh - 88px);
    background-color: var(--color-5);
    width: 20vw;
    position: fixed;
    top: 60px;
    bottom: 28px;
    left: 0;
    overflow-y: auto;
    min-width: 114px;
  }
  
  #userPageSideNav > ul > li > #container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  #avatarImg {
    display: block;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  
  #userNameNavbar {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10%;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  #userPageSideNav > ul > li {
    display: block;
    margin: 0 auto;
    padding: 15px;
    align-items: center;
  }
  
  #userPageSideNav > ul > #container {
    display: flex;
    margin: auto;
  }
  
  #userPageSideNav > ul > li > #container > a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
  }
  
  #userPageSideNav > ul > li > #container > a > div {
    display: block;
    align-items: center;
    word-break: break-word;
  }
  
  #userPageSideNav > ul > li:hover {
    background-color: var(--color-4);
    border-radius: 10px;
  }
  
  
  #userPageSideNav > ul > li > #container > div > img {
    width: 100%;
    align-items: center;
    margin: auto;
  }
  @media (max-width: 800px) {
    #userPageSideNav {
      height: calc(100vh - 90px);
      margin-bottom: 30px;
    }
    #userPageSideNav > ul > li > #container {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: auto;
    }
    #userPageSideNav > ul > li > #container > a > #listStr {
      display: none;
    }
    
  }